body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 36px;
    padding-left: 156px;
}

input {
    border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  outline: none;
  margin-right: 8px;
}

input:focus {
    border-color: #000000;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #cfcfcf;
    color: #989898;
    cursor: pointer;
}

.inactive-button {
    background-color: #4e75ff;
    color: #fff;
}
  
.active-button {
    background-color: #cfcfcf;
    color: #989898;
}
  
.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
  
.field {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}