body {
    padding-top: 36px;
    padding-left: 156px;
}
  
.form {
    width: 360px;
    display: flex;
    flex-direction: column;
}
  
.form input[type='number'] {
    margin-top: 8px;
    width: 345px;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

fieldset {
    padding: 24px 48px 8px 48px;
    margin-bottom: 24px;
    border: 1px solid #808080;
    border-radius: 4px;
}
  
.form input[type='radio'] {
    margin-right: 8px;
}

.form button {
    background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.form button:hover {
    background-color: #6c8cff;
}